In [1]:

import pandas as pd
import numpy as np

from sklearn.metrics import accuracy_score
from sklearn.metrics import recall_score
from sklearn.metrics import precision_score
from sklearn.metrics import classification_report

In [2]:
# 1
# Given the following confusion matrix, evaluate (by hand) the model's performance.
# |               | pred dog   | pred cat   |
#|:------------  |-----------:|-----------:|
#| actual dog    |         46 |         7  |
#| actual cat    |         13 |         34 |

# Based on this model, it seems like we're trying to predict if its a dog.

In [3]:

confusion_matrix = pd.DataFrame([[34, 7], [13, 46]], 
                                 index=['predicted cat', 'predicted dog'], 
                                 columns=['actual cat', 'actual dog'])
confusion_matrix.T

            predicted cat  predicted dog
actual cat             34             13
actual dog              7             46

In [4]:
# 2B
# In the context of this problem, what is a false positive?
print(f"If you predicated a dog but it's actually a cat.")

If you predicated a dog but it's actually a cat.

In [5]:
# 2C
# In the context of this problem, what is a false negative?
print(f"You predicted a cat but its a dog.")

You predicted a cat but its a dog.

In [6]:
# 2D
# How would you describe this model?
print(f"The accuracy of the model is: {(34+46)/100}")
print(f"The precision of the model is: {46/(46+13)}")
print(f"The recall of the model is: {46/(46+7)}")
print(f"The specificity of the model is: {34/(34+13)}")

The accuracy of the model is: 0.8
The precision of the model is: 0.7796610169491526
The recall of the model is: 0.8679245283018868
The specificity of the model is: 0.723404255319149

In [8]:
#2

df_duck = pd.read_csv('https://ds.codeup.com/data/c3.csv')
df_duck.head()

      actual     model1  model2     model3
0  No Defect  No Defect  Defect  No Defect
1  No Defect  No Defect  Defect     Defect
2  No Defect  No Defect  Defect  No Defect
3  No Defect     Defect  Defect     Defect
4  No Defect  No Defect  Defect  No Defect

In [10]:
df_duck.actual.value_counts()

No Defect    184
Defect        16
Name: actual, dtype: int64

In [11]:
#2
print(f"We're going for precision hear above all else. Lets analyze the models.")

We're going for precision hear above all else. Lets analyze the models.

In [12]:
df_duck.isnull().any()

actual    False
model1    False
model2    False
model3    False
dtype: bool

In [ ]:
# 'No Defect' is the positive prediction
# 'Defect' is the negative prediction
# FP = predicting 'Defect' when it's not defected
# FN = predicting 'No Defect' when it's defective

In [ ]:
# 2A

# Precision modeling is best TP/(TP+FP)

In [13]:
cross_tab_model_1 = pd.crosstab(df_duck.actual, df_duck.model1)
cross_tab_model_1

model1     Defect  No Defect
actual
Defect          8          8
No Defect       2        182

In [14]:
cross_tab_model_2 = pd.crosstab(df_duck.actual, df_duck.model2)
cross_tab_model_2

model2     Defect  No Defect
actual
Defect          9          7
No Defect      81        103

In [15]:
cross_tab_model_3 = pd.crosstab(df_duck.actual, df_duck.model3)
cross_tab_model_3

model3     Defect  No Defect
actual
Defect         13          3
No Defect      86         98

In [16]:
specificity_model_1 = 8/16
specificity_model_2 = 9/16
specificity_model_3 = 13/16

specificity_model_1, specificity_model_2, specificity_model_3

(0.5, 0.5625, 0.8125)

In [17]:
df_duck.model1.value_counts()

No Defect    190
Defect        10
Name: model1, dtype: int64

In [18]:
df_duck.model2.value_counts()

No Defect    110
Defect        90
Name: model2, dtype: int64

In [19]:
df_duck.model3.value_counts()

No Defect    101
Defect        99
Name: model3, dtype: int64

In [ ]:
# Model 3 has the highest specificity

In [20]:
# 3B

# Precision(N) is written as 'P_N'

P_N_model_1 = 8/(8+2)
P_N_model_2 = 9/(9+81)
P_N_model_3 = 13/(13+86)

P_N_model_1, P_N_model_2, P_N_model_3

(0.8, 0.1, 0.13131313131313133)

In [21]:
# Recall of the negative class is "specificity"

print(classification_report(df_duck.actual, df_duck.model1))
print(classification_report(df_duck.actual, df_duck.model2))
print(classification_report(df_duck.actual, df_duck.model3))

              precision    recall  f1-score   support

      Defect       0.80      0.50      0.62        16
   No Defect       0.96      0.99      0.97       184

    accuracy                           0.95       200
   macro avg       0.88      0.74      0.79       200
weighted avg       0.95      0.95      0.94       200

              precision    recall  f1-score   support

      Defect       0.10      0.56      0.17        16
   No Defect       0.94      0.56      0.70       184

    accuracy                           0.56       200
   macro avg       0.52      0.56      0.44       200
weighted avg       0.87      0.56      0.66       200

              precision    recall  f1-score   support

      Defect       0.13      0.81      0.23        16
   No Defect       0.97      0.53      0.69       184

    accuracy                           0.56       200
   macro avg       0.55      0.67      0.46       200
weighted avg       0.90      0.56      0.65       200

In [22]:
# Model 3 has the highest precision and would be the best fit.

In [25]:
#4
df_paws = pd.read_csv('https://ds.codeup.com/data/gives_you_paws.csv')
df_paws.head()

  actual model1 model2 model3 model4
0    cat    cat    dog    cat    dog
1    dog    dog    cat    cat    dog
2    dog    cat    cat    cat    dog
3    dog    dog    dog    cat    dog
4    cat    cat    cat    dog    dog

In [26]:
df_paws.describe()

       actual model1 model2 model3 model4
count    5000   5000   5000   5000   5000
unique      2      2      2      2      2
top       dog    dog    cat    dog    dog
freq     3254   2937   3212   2508   4253

In [27]:
df_paws.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   actual  5000 non-null   object
 1   model1  5000 non-null   object
 2   model2  5000 non-null   object
 3   model3  5000 non-null   object
 4   model4  5000 non-null   object
dtypes: object(5)
memory usage: 195.4+ KB

In [28]:
df_paws.isnull().any()

actual    False
model1    False
model2    False
model3    False
model4    False
dtype: bool

In [29]:
df_paws.actual.value_counts()

dog    3254
cat    1746
Name: actual, dtype: int64

In [31]:
# Create the baseline model according to the actual observations

df_paws['baseline'] = df_paws.actual.value_counts().index[0]
df_paws.head()

  actual model1 model2 model3 model4 baseline
0    cat    cat    dog    cat    dog      dog
1    dog    dog    cat    cat    dog      dog
2    dog    cat    cat    cat    dog      dog
3    dog    dog    dog    cat    dog      dog
4    cat    cat    cat    dog    dog      dog

In [32]:
(df_paws.model1 == df_paws.actual).mean()

0.8074

In [ ]:
# 4A
# Get all model columns

models = df_paws.loc