In [1]:
import pandas as pd

In [2]:
# 1A
#

attendance = pd.read_csv('untidy-data/attendance.csv', index_col=0)
attendance.index.set_names('name', inplace=True)
attendance.reset_index(inplace=True)
attendance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4 non-null      object
 1   2018-01-01  4 non-null      object
 2   2018-01-02  4 non-null      object
 3   2018-01-03  4 non-null      object
 4   2018-01-04  4 non-null      object
 5   2018-01-05  4 non-null      object
 6   2018-01-06  4 non-null      object
 7   2018-01-07  4 non-null      object
 8   2018-01-08  4 non-null      object
dtypes: object(9)
memory usage: 416.0+ bytes

In [3]:
attendance.head()

,name,2018-01-01,2018-01-02,2018-01-03,2018-01-04,2018-01-05,2018-01-06,2018-01-07,2018-01-08
0,Sally,P,T,T,H,P,A,T,T
1,Jane,A,P,T,T,T,T,A,T
2,Billy,A,T,A,A,H,T,P,T
3,John,P,T,H,P,P,T,P,P

In [4]:
# 1B
#calculate an attendance percentage for each student

# P = 1
# A = 0
# H = .5
# T = .9

attendance = attendance.melt(id_vars=['name']).drop(columns = 'variable')
attendance.head()

    name value
0  Sally     P
1   Jane     A
2  Billy     A
3   John     P
4  Sally     T

In [5]:
def get_attendance_grade(letter):
    if letter == 'P':
        return 1
    elif letter == 'A':
        return 0
    elif letter == 'T':
        return 0.9
    elif letter == 'H':
        return 0.5

get_attendance_grade('T')

0.9

In [6]:
grades = {
    'P': 1,
    'A': 0,
    'H': 0.5,
    'T': 0.9,}

attendance = pd.read_csv('untidy-data/attendance.csv', index_col=0)
attendance  = attendance.rename(columns={'Unnamed: 0': 'name'})
attendance  = attendance.melt(id_vars='name', var_na

SyntaxError: positional argument follows keyword argument (1613770932.py, line 9)

In [ ]:
df_coffee.head()

In [ ]:
#2A


df_coffee = pd.read_csv('untidy-data/coffee_levels.csv')
df_coffee.head()

In [ ]:
#2B

df_coffee = df_coffee.pivot_table(index = ['hour'],
                                  columns = 'coffee_carafe',
                                  values = 'coffee_amount').reset_index()
df_coffee.round(3).head()

#3 Yeah, it's easier to read

In [7]:
# 3

df_cake = pd.read_csv('untidy-data/cake_recipes.csv')
df_cake.shape

(8, 5)

In [8]:
# 3B

recipes_positions = df_cake['recipe:position'].str.split(':', expand=True)
recipes_positions.columns = ['recipes','positions']
df_cake = pd.concat([df_cake, recipes_positions], axis=1).drop(columns='recipe:position')
df_cake = df_cake.melt(id_vars = ['recipes', 'positions'], var_name = 'temp', value_name = 'tastiness')
df_cake.head()

  recipes positions temp  tastiness
0       a    bottom  225  61.738655
1       a       top  225  51.709751
2       b    bottom  225  57.095320
3       b       top  225  82.455004
4       c    bottom  225  96.470207

In [9]:
#3C

df_cake.groupby('recipes').tastiness.mean().round(2)

recipes
a    63.92
b    76.74
c    75.87
d    62.86
Name: tastiness, dtype: float64

In [10]:
#3D

df_cake.groupby('temp').tastiness.mean().round(2)

temp
225    71.31
250    66.58
275    74.89
300    66.63
Name: tastiness, dtype: float64

In [11]:
#3E

df_cake.sort_values(by='tastiness').tail()

   recipes positions temp  tastiness
4        c    bottom  225  96.470207
7        d       top  225  96.873178
19       b       top  275  98.594881
24       a    bottom  300  98.786784
26       b    bottom  300  99.248541